body{
    margin: 0px;
    padding:0px;
}
#box{
    height: 926px;
    display: grid;
    grid-template-rows: 15% 1fr 15%;
} 
header{
    background-color: #962EDB;
    background-image: url(images/图片\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
header,footer,div{
    width:428px;
    margin: 0px auto;
}
footer{
    background-color: #ebe460;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#main{
    background-color: #65DBCA;
}
.main{
    width: 85%;
    margin: 0 auto;
}
.main>div{
    height: 200px;
    background-color: bisque;
    float: left;
    margin-bottom: 15px;
    margin-right: 2%;
    display: flex;
    justify-content: center;
}
.main>div:nth-child(3n){
    margin-right: 0;
}
img{
    width: 120px;
    height:110px;
    float: left;
    margin: 10px;
}
p{
    margin-left: 8px;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}